@import '../../styles/config';

.work-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // position: fixed;
  // position: relative;
  // top: 650px;

  & .single-Project {
    display: block;
  }
}
.filter-sticky {
  top: 5rem;
  width: 100vw;
  position: sticky;
  @include tablet {
    position: relative;
    top: 0;
  }
}
.project-outer-wrapper {
  position: sticky;
  top: 10rem;

  @include tablet {
    top: 5rem;
  }
}
