@import '../../styles/config';

.work-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // position: fixed;
  // position: relative;
  // top: 650px;

  & .single-Project {
    display: block;
  }
}
.filter-sticky {
  top: 5rem;
  width: 100vw;
  position: sticky;
  @include tablet {
    position: relative;
    top: 0;
  }
}
.project-outer-wrapper {
  position: sticky;
  top: 10rem;

  @include tablet {
    top: 5rem;
  }
}

.wrapper-ref {
  cursor: none;
  position: relative;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 90px;
  border: 0.2px solid #000;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  backdrop-filter: blur(6px);
  opacity: 0;
  p {
    transform: rotate(5deg);
    font-size: 14px;
  }
}
