@import '../../styles/config';

.work-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // position: fixed;
  // position: relative;
  // top: 650px;

  & .single-Project {
    display: block;
  }
}
