@import '../../../styles/config';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include grid-col(8);

  &.fullwidth {
    max-width: 100%;
    @include grid-col(12);
  }

  @include tablet {
    @include grid-col(12);
  }
}
mux-player {
  /* Hide all controls at once */
  --controls: none;
}
