@import '../../../styles/config';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 70%;

  @include grid-col(8);

  &.fullwidth {
    max-width: 100%;
    @include grid-col(12);
  }

  @include tablet {
    @include grid-col(12);
  }
}

.colour-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fullwidth {
    padding: 8rem 22rem;

    @media screen and (max-width: 1450px) {
      padding: 8rem 12rem;
    }

    @include tablet {
      padding: 6rem 8rem;
    }

    @include mobile-l {
      padding: 2rem;
    }
  }

  @include mobile-l {
    padding: 2rem;
    height: 99vw;
  }
}
mux-player {
  /* Hide all controls at once */
  --controls: none;
  width: 100%;
  max-width: none;
  max-height: 750px;
  max-width: 1175px;
}
