@import '../../../styles/config';

.wrapper {
  @include grid-col(6);
  margin: 0 auto;

  @include tablet {
    @include grid-col(12);
  }
  padding-top: 27px;
  padding-bottom: 27px;
}

.quote {
  font-size: 48px;
  color: $black;
  font-weight: 600;
  line-height: 130%;
  text-transform: capitalize;

  @include mobile-p {
    font-size: 32px;
  }
  p {
    padding-bottom: 1rem;
  }
  & p::before {
    content: '“';
    display: inline;
  }
  & p::after {
    content: '”';
    display: inline;
  }
}

.quotee {
  font-size: 18px;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: $black;
    border-radius: 10px;
    margin-right: 7px;
  }

  h1 {
    margin-bottom: 0;
  }
}
