@import '../../../styles/config';

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.quote {
  font-size: 56px;
  color: $black;
  font-weight: 600;
  line-height: 130%;
  text-transform: capitalize;

  & p::before {
    content: '“';
    display: inline;
  }
  & p::after {
    content: '”';
    display: inline;
  }
}

.quotee {
  font-size: 18px;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: $black;
    border-radius: 10px;
    margin-right: 7px;
  }
}
