@import '@/styles/config';

.approach-page {
  position: relative;
}

.spacer {
  height: 5750px;
}

.card-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: -100vh;
}

.title-wrapper {
  top: 8rem;
  position: fixed;
}

.card-one-wrapper,
.card-two-wrapper,
.card-three-wrapper {
  position: absolute;
}

.card-one-wrapper {
  z-index: 3;
}
.card-two-wrapper {
  z-index: 2;
  transform: translate3d(200px, 50px, 0);
}
.card-three-wrapper {
  z-index: 1;
  transform: translate3d(-200px, 50px, 0);
}
.post-project-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  z-index: 4;
  position: relative;
  overflow: hidden;
  background-image: url('../../../assets/svgs/post-project-text/post-project.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 11rem;
  background-position-x: 3rem;

  @include tablet {
    background-image: url('../../../assets/svgs/post-project-text/post-project-medium.svg');
    background-position-y: 12.5rem;
  }
}

.post-project-title {
  position: sticky;
  top: 8rem;
  text-overflow: clip;
}

.post-project-cards {
  padding-top: 30rem;
  @include tablet {
    padding-top: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  display: flex;
  gap: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 16rem;
}

.card-content {
  height: 200px;
}
