@import '../../styles/config';

.project-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 $side-gaps-desktop;
  text-decoration: none;
  background-color: $white;
  max-height: 90vh;
  overflow: hidden;
}

.project-info-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 40vw 1fr max-content;
  border-top: 1px solid #0000000a;

  & .project-name,
  & .client,
  & .service {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: $black;
    margin: 1rem 0;
  }
}

.featured-image {
  width: 65%;
}

.right {
  align-self: flex-end;
}

.left {
  align-self: flex-start;
}

.full-width {
  width: 100%;
}

mux-player {
  /* Hide all controls at once */
  --controls: none;
  height: 70%;
}
