@import '@/styles/config';

.blurb-section {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1000px;

  @include tablet {
    padding-top: 3rem;
  }

  @include mobile-p {
    padding: 2rem 1rem 0 1rem;
  }
}

.blurb {
  font-size: 32px;
  color: $black;
  font-weight: 600;
  line-height: 130%;

  @include tablet {
    font-size: 20px;
  }
}

.card-section {
  display: flex;
  gap: 3rem;
  padding: 5rem 2rem 0 2rem;

  @include tablet {
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
  }

  @include mobile-p {
    padding: 3rem 1rem 0 1rem;
  }
}
.card-spacer {
  height: 200px;
}

.partnerships {
  padding: 8rem 2rem 0 2rem;

  @include tablet {
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
  }

  @include mobile-p {
    padding: 3rem 1rem 0 1rem;
  }

  h2 {
    padding-bottom: 4rem;
  }

  @include tablet {
    top: 1rem;
    h2 {
      padding-bottom: 0;
    }
  }
}

.sticky-wrapper {
  position: sticky;
  // top: 285px;
  top: 5rem;

  // &:first-child {
  //   top: 0;
  // }
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: $black;
}
.services-card-wrapper {
  display: flex;
  gap: 3rem;
  padding: 0 2rem 4rem 2rem;

  @media screen and (max-width: 1400px) {
    gap: 1.5rem;
  }

  @media screen and (max-width: 1368px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include tablet {
    padding: 2rem;
  }
  @media screen and (max-width: 880px) {
    grid-template-columns: 1fr;
    padding: 0 1rem 4rem 1rem;
  }
}
