@import '@/styles/config';

.blurb-section {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1000px;

  @include tablet {
    padding-top: 3rem;
  }

  @include mobile-p {
    padding: 2rem 1rem 0 1rem;
  }
}

.blurb {
  font-size: 32px;
  color: $black;
  font-weight: 600;
  line-height: 130%;

  @include tablet {
    font-size: 26px;
  }
}

.card-section {
  display: flex;
  gap: 3rem;
  padding: 5rem 2rem 0 2rem;

  @include tablet {
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
  }

  @include mobile-p {
    padding: 3rem 1rem 0 1rem;
  }
}
.card-spacer {
  height: 200px;
}

.partnerships {
  padding: 8rem 2rem 0 2rem;

  @include tablet {
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
  }

  @include mobile-p {
    padding: 3rem 1rem 0 1rem;
  }

  h2 {
    padding-bottom: 4rem;
  }

  @include tablet {
    top: 1rem;
  }
}

.sticky-wrapper {
  position: sticky;
  // top: 285px;
  top: 5rem;

  // &:first-child {
  //   top: 0;
  // }
}
