@import '@/styles/config';

.wrapper {
  position: relative;
  overflow: hidden;
  width: fit-content;
  a {
    text-decoration: none;
  }
  .link-hover-line {
    width: 0%;
    height: 1px;
    background-color: $black;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &.active .link-active-line {
    width: 100%;
    height: 1px;
    background-color: $black;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
