@import '../../../styles/config';

.hamburger-menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & span {
    position: absolute;
    transition: all 0.35s ease-out;
    height: 1px;
    background-color: #ffffff;
    width: 22px;
  }

  & .barTop {
    transform: rotate(0deg);
    top: calc(50% - 4px);
  }
  & .barCenter {
    top: 50%;
  }
  & .barBottom {
    transform: rotate(0deg);
    bottom: calc(50% - 5px);
  }

  &.open {
    & .barTop {
      transform: rotate(45deg);
      top: 50%;
    }
    & .barCenter {
      display: none;
    }
    & .barBottom {
      transform: rotate(-45deg);
      top: 50%;
    }
  }
}
