@import '@/styles/config';

.person-card-wrapper {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem;
  min-height: 100%;
  // @include tablet {
  //   padding: 1rem;
  //   justify-content: flex-start;
  //   margin-top: 4rem;
  //   gap: 2rem;
  // }

  // @media screen and (max-width: 800px) {
  //   justify-content: space-between;
  // }
  @include tablet {
    padding: 1rem;
    margin-top: 4rem;
    gap: 4rem 1rem;
  }

  @include mobile-l {
    gap: 2rem;
  }
}

.person-card-wrapper {
  width: 100%;
}
