// Fallback font
body {
  font-family: $body-font-family;
  font-size: 1.1375rem;
  font-weight: 400;
  line-height: 1.2em;
  color: $black;
}

a {
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    color: $default-hover-color;
  }
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 0;
}

p {
  margin-top: 0;
}
