@import '@/styles/config';

.person-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include tablet {
    max-width: 350px;
    width: 45%;
  }
}

.image-card {
  aspect-ratio: 1/1;
  width: 350px;
  background-color: #d9d9d9;
  overflow: hidden;
  position: relative;

  @include tablet {
    width: 100%;
  }
}

.name {
  color: #17191a;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include tablet {
    font-size: 18px;
  }
}

.role {
  color: #17191a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include tablet {
    font-size: 16px;
  }
}

.headshot {
  height: 100%;
  width: auto;
  position: absolute;
}

.video {
  height: 100%;
  width: auto;
  z-index: 5;
  position: absolute;
}

.online-badge {
  display: inline-flex;
  height: 22px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 12px;
  background: $white;
  position: absolute;
  z-index: 11;
  top: 8px;
  right: 8px;

  p {
    color: #1de01d;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: capitalize;
    vertical-align: middle;
    padding-bottom: 2px;
  }

  .green-circle {
    width: 6px;
    height: 6px;
    background-color: #1de01d;
    border-radius: 100%;
  }
}

.offline-badge {
  display: flex;
  height: 22px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  background: $white;
  position: absolute;
  z-index: 11;
  top: 8px;
  right: 8px;

  p {
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: capitalize;
    padding-bottom: 2px;
  }

  .red-circle {
    width: 8px;
    height: 8px;
    background-color: #ff0000;
    border-radius: 100%;
  }
}

mux-player {
  /* Hide all controls at once */
  --controls: none;
  height: 70%;
  --media-object-fit: cover;
  --media-object-position: center;
}
