@import '../../../styles/config';

.wrapper {
  display: flex;
  width: 100%;

  @include tablet {
    flex-direction: column;
    gap: 70px;
  }

  & .left {
    @include grid-col(6);
  }

  & .right {
    @include grid-col(5);
    @include grid-offset-left(1);
  }

  @include tablet {
    & .left,
    & .right {
      width: 100%;
      @include grid-offset-left(0);
    }
  }
}
mux-player {
  /* Hide all controls at once */
  --controls: none;
}
