@import '../../../styles/config';

.wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  // justify-content: center;

  @include tablet {
    flex-direction: column;
    gap: 70px;
  }

  & .left {
    @include grid-col(6, flex-start);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  & .right {
    @include grid-col(5, flex-start);
    @include grid-offset-left(1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  @include tablet {
    & .left,
    & .right {
      width: 100%;
      @include grid-offset-left(0);
    }
  }
}
mux-player {
  /* Hide all controls at once */
  --controls: none;
}
