@import '../../../styles/config';

.wrapper {
  display: flex;
  gap: 120px;
  width: 100%;

  @include tablet {
    flex-direction: column;
    gap: 70px;
  }

  & .left {
    width: 55%;
  }

  & .right {
    width: 45%;
  }

  @include tablet {
    & .left,
    & .right {
      width: 100%;
    }
  }
}
mux-player {
  /* Hide all controls at once */
  --controls: none;
}
