@import '../../../styles/config';

.wrapper {
  @include large {
    @include grid-col(6);
  }

  @include grid-col(8);
  margin: 0 auto;

  @include tablet {
    @include grid-col(12);
  }

  .text-content {
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;

    p {
      padding-bottom: 1rem;
    }
  }
}
