@import '../../../styles/config';

.wrapper {
  @include grid-col(6);
  margin: 0 auto;

  .text-content {
    max-width: 48rem;
    margin: 0 auto;
  }

  &.left {
    @include grid-col(5);
    margin-left: 0;
    .text-content {
      margin: 0;
    }
  }

  &.right {
    @include grid-col(5);
    margin-right: 0;
    .text-content {
      margin: 0;
    }
  }

  &.right,
  &.left,
  & {
    @include tablet {
      margin: 0;
      @include grid-col(12);
      .text-content {
        margin: 0 auto;
      }
    }
  }
}
