@import '../../../styles/config';

.project-intro {
  padding: 0 $side-gaps-desktop 75px;

  @include tablet {
    padding: 0 $side-gaps-tablet 75px;
  }

  @include mobile-l {
    padding: 0 $side-gaps-mobile 50px;
  }
}

.project-title {
  padding: 100px 0 150px 0;
  & h1 {
    font-size: 56px;
    font-weight: 600;
    color: $black;
    line-height: 1.2;
    margin-bottom: 0;

    @include tablet {
      font-size: 32px;
    }
  }

  @include mobile-l {
    padding: 100px 0 70px 0;
  }
}

.project-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mobile-l {
    gap: 3rem;
    flex-direction: column;
  }

  & .attributes-table,
  & .url {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    width: auto;
  }

  & .row {
    display: flex;
    flex-wrap: nowrap;

    & .label,
    & .value {
      font-size: 18px;
      font-weight: 600;

      @include tablet {
        font-size: 16px;
      }
    }

    & .label {
      width: 100px;
      flex-shrink: 0;
      color: #a8a8a8;
    }

    & .value {
      color: $black;
    }
  }

  & .url {
    a {
      text-decoration: none;
      color: $black;
      font-weight: 500;
      font-size: 16px;
      position: relative;
      width: 122px;
      transform: translateY(-12px);

      @include mobile-l {
        transform: translateY(0);
      }

      &:hover span {
        text-decoration: underline;
      }

      & span {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      & .animation-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
      }
    }
  }
}
