@import '../../styles/config';

.header-wrapper {
  width: 100%;
  margin-top: 25px;
}

.header-inner {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;

  & .link {
    background-color: #efefef;
    padding: 3px 16px 6px;
    border: 1px solid $grey;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }

    & .submenu-item {
      background-color: $black;
      color: $white;
      padding: 0px 8px 3px;
      border-radius: 20px;
      margin-left: 5px;

      & .close {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 2px;
        margin-left: 0.5rem;

        & svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
