@import '../../../styles/config';

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  & .link {
    background-color: #efefef;
    padding: 4px 14px;
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid $grey;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.3;

    &.active {
      opacity: 1;
      color: $black;
    }

    & .link-inner {
      position: relative;
      bottom: 2px;
    }

    & .submenu-pill {
      background-color: $black;
      color: $white;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0px 8px 3px 10px;
      border-radius: 20px;
      position: relative;
      right: -9px;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;

      & .close {
        display: inline-block;
        width: 13px;
        height: 13px;
        position: relative;
        top: 1px;
        margin-left: 0.5rem;

        & svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
