@import '../../styles/config';

.footer {
  width: 100%;
  background-color: $white;
  padding-top: 1rem;

  & .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem $side-gaps-desktop;
    max-width: 100%;

    @include tablet {
      padding: 1rem $side-gaps-tablet;
    }

    @include mobile-l {
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      & .logo {
        display: none;
      }
    }

    @include mobile-p {
      padding: 1rem $side-gaps-mobile;
    }
  }

  & .interactive-bit {
    // background-color: $grey;
    border: 1px solid red;
    margin: 1rem 0 0;
    // height: 300px;s
    // padding: 1rem $side-gaps-desktop;

    // @include tablet {
    //   padding: 1rem $side-gaps-tablet;
    // }
    // @include mobile-p {
    //   padding: 1rem $side-gaps-mobile;
    // }
  }
}
