@import '@/styles/config';

.card-wrapper {
  padding: 0 $side-gaps-mobile 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 18rem;
}

.blurb-section {
  padding: 0 $side-gaps-mobile 0;

  h1 {
    color: $black;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
  }
}

.post-project-wrapper {
  width: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
  background-image: url('../../../assets/svgs/our-process-text/our-process-medium.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 2rem;
  background-position-x: 3rem;
  z-index: 6;
  padding: 0 $side-gaps-mobile;
  @include tablet {
    background-position-y: 10rem;
    background-position-x: 2rem;
  }
  @media screen and (max-width: 600px) {
    background-image: url('../../../assets/svgs/our-process-text/our-process-small.svg');
    background-position-y: 8.5rem;
  }

  @include mobile-p {
    background-position-x: 1rem;
  }
}

.post-project-title {
  position: sticky;
  top: 8rem;
  text-overflow: clip;
}

.post-project-cards {
  padding-top: 28rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: fit-content;

  padding-bottom: 2rem;

  @media screen and (max-width: 880px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 600px) {
    padding-top: 20rem;
  }
}

.card-content {
  height: 200px;
}
