@import '../../../../styles/config';

.link {
  padding: 4px 0;
  display: flex;
  align-items: center;
  height: 36px;
  // border: 1px solid rgba($grey, 0.3);
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.35s ease-out;
  position: relative;
  color: white !important;

  &.active {
    // border: 1px solid rgba($grey, 1);
  }

  * {
    // transition: all 0.35s ease-out;
  }

  .link-text {
    position: relative;
    bottom: 1px;
    // color: rgba($black, 0.4);
    z-index: 2;
    overflow: hidden;
  }

  .link-hover-line {
    width: 0%;
    height: 1px;
    background-color: $white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.active .link-active-line {
    width: 100%;
    height: 1px;
    background-color: $white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.active .link-text {
    // color: rgba($black, 1);
  }

  .link-bg {
    // backdrop-filter: blur(2px);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    // background-color: rgba(#efefef, 0.2);
    z-index: -4;
  }
  &.active .link-bg {
    // background-color: rgba(#efefef, 0.7);
  }
  .parent-wrapper {
    overflow: hidden;
    width: 0;
  }
  .submenu-pill {
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 8px 3px 10px;
    border-radius: 20px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    z-index: 2;
    margin-left: 15px;
    transition: ease-in-out 0.25s;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $black;
    }

    .close {
      display: inline-block;
      width: 13px;
      height: 13px;
      position: relative;
      margin-left: 0.5rem;
      cursor: pointer;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}

// .sticky.link {
//   padding: 2px 12px;
//   height: 28px;
//   font-size: 12px;

//   .link-inner {
//     bottom: 1px;
//   }

//   .submenu-pill {
//     padding: 0px 6px 3px 10px;
//     font-size: 12px;
//   }
// }
