@import '../../styles/config';

.contact-info-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 10rem $side-gaps-desktop 10rem;

  @include tablet {
    padding: 2rem $side-gaps-tablet;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile-l {
    display: block;
  }
  @include mobile-p {
    padding: 2rem $side-gaps-mobile;
  }
}

.contact-info-block {
  @include tablet {
    width: 50%;
    margin: 1.5rem 0;
  }

  @include mobile-p {
    width: 100%;
  }
}

.title {
  font-size: 32px;
  margin-bottom: 1rem;

  @include tablet {
    margin-bottom: 10px;
  }
}

a {
  color: $black;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6em;
}

p {
  line-height: 1.6em;
  text-decoration: none;
}
